.tween-center {
    transition: all,0.5s ease-in-out;
}
#video-container {
    top: 58%;
    left: 50%;
    z-index: 1000;
    width: 19%;
    min-width: 260px;
    position: absolute;
    -webkit-transform: translate(-50%, -40%) translate3d(0, 150%, 0px);
    transform: translate(-50%, -40%) translate3d(0, 150%, 0px);
    ;
    @include breakpoint(phablet) {
            top: 50%;
            width: 48%;
    }
    @include breakpoint(laptop) {
	    width: 16%;
        top: 59%;
    }
    @include breakpoint(tallwide) {
       // top: 105%;
        width: 28%;
    }
    @include breakpoint(widescreen) {
	    width: 20%;
            top: 51%;
    }
    video {
        position: absolute;
        top: 7.5%;
        z-index: 0;
        left: 0;
        width: 100%;
        padding: 29px;
        @include breakpoint(phablet) {
            padding: 38px;
        }
        @include breakpoint(laptop) {
            padding: 29px 28px 28px 28px;
        }
        @include breakpoint(widescreen) {
                padding: 45px 53px;
        }
        &.z-index20 {
            z-index: 20;
        }
    }
    .image-load {
            padding: 24.5% 9.05% 22.5% 10.05%;
            @include breakpoint(widescreen) {
                padding:24.5% 11.05%;
            }

    }
}

#video-container>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

#video-container:before {
    content: ' ';
    display: block;
    padding-top: 187.53799%
}

#video-container:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/sliders/phone-outline.png);
    background-repeat: no-repeat;
    background-size: contain!important;
    background-position: center;
}

#large-video {
    top:53%;
    left: 50%;
    z-index: 1000;
	width: 44%;
	height: 54%;
    min-width: 260px;
    position: absolute;
    -webkit-transform: translate(-50%, -45%) translate3d(0, 0, 0);
    transform: translate(-50%, -45%) translate3d(0, 0, 0);
    @include breakpoint(phablet){
		width: 77%;
		height: 32%;
    }
    @include breakpoint(laptop) {
        width: 44%;
        height: 44%;
    }
    @include breakpoint(tallwide) {
        width: 60%;
        height: 44%;
    }
    @include breakpoint(widescreen) {
        width: 44%;
        height: 49%;
    }
}
#large-video:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    background-image: url(../../assets/img/preloader.gif);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}

#wide-content {
	top:50%;
    left: 50%;
    z-index: 1000;
    width: 73%;
    height: 44%;
    min-width: 260px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) translate3d(0, -350%, 0px);
    transform: translate(-50%, -50%) translate3d(0, -350%, 0px);
    @include breakpoint(phablet) {
		top: 48%;
		width: 520px;
		height: 428px;
	}
    @include breakpoint(laptop) {
		top:58%;
        width: 43%;
	    height: 66%;
	}

    @include breakpoint(widescreen) {
            //top: -92%;
    }
    span.bg {
        margin: 0;
        width:100%;
        height:auto;
    }
    .image-load {
        height: auto;
    }
}
#wide-content:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/preloader.gif);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}

#day-screens {
	top:60%;
    left: 50%;
    z-index: 1000;
    width: 45.5%;
    height: 52%;
    min-width: 260px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) translate3d(0, -350%, 0px);
    transform: translate(-50%, -50%) translate3d(0, -350%, 0px);
    @include breakpoint(phablet) {
		width: 72.5%;
		height: 32%;
        top: 53%;

    }
    @include breakpoint(laptop) {
        top:60%;
	    width: 45.5%;
	    height: 52%;
    }
    @include breakpoint(desktop) {
    	   // top: -81%;
    }
    @include breakpoint(widescreen) {
            top:56%;
    }
}
#day-screens:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/sliders/day-screens.jpg);
    background-repeat: no-repeat;
    background-size: contain!important;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
	&:before {
		content:'';
		position: absolute;
	}
}
.image-load {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
span.bg {
    background:$white;
    width: 82%;
    height: 82%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10% 11%;
    z-index: 0;
    @include breakpoint(widescreen) {
        margin: 12% 2% 11% 10%;
    }
}
#large-video,
#wide-content,
#day-screens,
#video-container {
    @include breakpoint(mobileonly){
        display: none;
    }
}
